/* Table of Contents
====================

	00 - CSS Reset
	01 - Load Fonts
	02 - Basic CSS
	03 - Page Layout
	04 - Code Formatting
	
	99 - Unsorted CSS

====================

Color Scheme: http://colorschemedesigner.com/#3j61Tw0w0w0w0

====================
*/

/*	00 - CSS Reset
====================
*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*	01 - Load Fonts
====================
*/

@font-face {
	font-family: Voltaire;  
	src: local('Voltaire-Regular'), 
		url("../fonts/Voltaire/Voltaire-Regular.ttf") format('truetype');  
	font-weight: normal;  
}

@font-face {
	font-family: CrimsonText-Bold;
	src: local('CrimsonText-Bold'),
		url("../fonts/Crimson_Text/CrimsonText-Bold.ttf") format('truetype');
	font-weight: bolder;
}

@font-face {
	font-family: CrimsonText-Bolditalic;
	src: local('CrimsonText-Bolditalic'),
		url("../fonts/Crimson_Text/CrimsonText-Bolditalic.ttf") format('truetype');
	font-weight: bolder;
}

@font-face {
	font-family: CrimsonText-Italic;
	src: local('CrimsonText-Italic'),
		url("../fonts/Crimson_Text/CrimsonText-Italic.ttf") format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: CrimsonText-Roman;
	src: local('CrimsonText-Roman'),
		url("../fonts/Crimson_Text/CrimsonText-Roman.ttf") format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: CrimsonText-Semibold;
	src: local('CrimsonText-Semibold'),
		url("../fonts/Crimson_Text/CrimsonText-Semibold.ttf") format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: CrimsonText-Semibolditalic;
	src: local('CrimsonText-Semibolditalic'),
		url("../fonts/Crimson_Text/CrimsonText-Semibolditalic.ttf") format('truetype');
	font-weight: bold;
}


/*	02 - Basic CSS
====================
*/
body { 
	text-align: justify; 
	margin: 0px auto;
	font-size: 12pt;
	font-family: CrimsonText-Roman;
	line-height: 1.2em;
}

p {
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	font-family: Voltaire; 
	line-height: 1.2em;
}

h1 {
	font-size: 40pt;
}

h2 {
	font-size: 30pt;
}

h3 {
	font-size: 24pt;
}

h4 {
	font-size: 20pt;
}

h5 {
	font-size: 16pt;
}

h6 {
	font-size: 12pt;
}

ul {
	list-style-type: circle;
	margin-left: 20px;
}

ol {
	list-style-type: lower-greek;
	margin-left: 20px;
}

a {
	text-decoration: none;
}

a:link {
	color:#01939A;
}      /* unvisited link */

a:visited {
	color:#466FD5;
}  /* visited link */

a:hover {
	color:#FF7600;
}  /* mouse over link */

a:active {
	color:#00C90D;
}  /* selected link */

/*  03 - Page Layout
====================
*/

#wrapper { 
	display: block; 
/*	border: 1px #a2a2a2 solid; */
	width:90%; 
	margin:0px auto; 
}
 
#header { 
	margin: 0;
	margin-top: 20px ;
	width:100%; 
	background-color: #01939A;
}

#content { 
	margin-top: 20px;
	margin-bottom: 20px;
	width: 75%; 
/*  border: 2px #a2a2a2 solid; */
	float: left; 
}

#sidebar { 
	margin-top: 20px;
	margin-bottom: 20px;
	width: 23%; 
/*	border: 2px #a2a2a2 solid; */
	float: right; 
	background-color: #34C6CD;
}

#delimiter { 
	clear: both; 
}

#footer { 
/*	border: 2px #a2a2a2 solid; */
}

.excerpt {
	font-size: 14pt;
}

/*	04 - Code Formatting
====================
*/
pre {
	width: inherit;
	margin-left: 3%;
	margin-right: 3%;
	height: auto;
	overflow:scroll;
	background: #ffeeac;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

code {
	overflow:inherit;
	background: #ffeeac;
	color: #086118;
	word-wrap: inherit;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10pt;
	margin-top: 3px;
	margin-bottom: 3px;
}


/*	99 - Unsorted CSS
====================
*/

#header-blogname {
	font-family: Voltaire;
	margin: 0px;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 20px;
	font-size: 40pt;
	line-height: 1.2em;
}

#header-blogname a:link {
	color:#9BED00;
}      /* unvisited link */

#header-blogname a:visited {
	color:#9BED00;
}  /* visited link */

#header-blogname a:hover {
	color:white;
}  /* mouse over link */

#header-blogname a:active {
	color:#BF3330;
}  /* selected link */


#header-blogdescription {
	font-family: Voltaire;
	margin: 0px; 
	margin-left: 60px;
	margin-right: 40px;
	padding-bottom: 20px;
	font-size: 30pt;
	line-height: 1.2em;
	color: #FF9840;
}


.title { 
	font-size: 11pt; 
	font-family: verdana; 
	font-weight: bold; 
}

.post-excerpt {
	text-align: left;
	color: red;
}
