// colors
$color-black: #2B2B2B;
$color-white: #fcfcfc;
$color-blue: lighten(#1D408C, 10);
$color-orange: #d16b19;
$color-green: #1BA914;
$color-red: #CF191D;

$color-code: darken($color-white, 10);

$color-paginator: darken($color-white, 30);
$color-paginator-darker: darken($color-paginator, 10);
$color-paginator-darkest: darken($color-paginator, 40);

$color-orange-dark: darken($color-orange, 15);
$color-blue-dark: darken($color-blue, 15);
$color-green-dark: darken($color-green, 15);
$color-red-dark: darken($color-red, 15);

$color-info: lighten($color-blue, 45);
$color-warning: lighten($color-orange, 45);
$color-success: lighten($color-green, 45);
$color-note: lighten($color-red, 45);

$color-info-dark: darken($color-info, 10);
$color-warning-dark: darken($color-warning, 15);
$color-success-dark: darken($color-success, 10);
$color-note-dark: darken($color-note, 10);


/*************************************************************************
							Alert Colors
/*************************************************************************/
$color-box-header-title: $color-white;

$color-postscript-header: $color-orange;
$color-postscript-border: $color-orange;
$color-postscript-background: $color-white;
$color-postscript-text: $color-black;
$color-postscript-code: $color-black;
$color-postscript-code-background: lighten($color-postscript-code, 25);

$color-info-header: $color-info-dark;
$color-info-border: $color-info-dark;
$color-info-background: $color-info;
$color-info-text: $color-blue-dark;
$color-info-code: $color-blue-dark;
$color-info-code-background: $color-info-dark;

$color-warning-header: darken($color-note-dark, 25);
$color-warning-border: $color-warning-header;
$color-warning-background: $color-note;
$color-warning-text: $color-red-dark;
$color-warning-code: $color-red-dark;
$color-warning-code-background: $color-note-dark;

$color-note-header: $color-orange;
$color-note-border: $color-orange;
$color-note-background: $color-warning;
$color-note-text: $color-orange-dark;
$color-note-code: $color-orange-dark;
$color-note-code-background: $color-orange;

$color-success-header: darken($color-success-dark, 15);
$color-success-border: $color-success-header;
$color-success-background: $color-success;
$color-success-text: $color-green-dark;
$color-success-code: $color-green-dark;
$color-success-code-background: $color-success-dark;

//---------------------------FONT

.box-header {
  color: $color-box-header-title;
}

.post_script > .box-header {
	background-color: $color-postscript-header;
}

.post_script {
	color: $color-postscript-text;
	background-color: $color-postscript-background;
	border-color: $color-postscript-border;
}

.post_script code {
	color: $color-postscript-code;
	background-color: $color-postscript-code-background;
}

.info > .box-header {
	background-color: $color-info-header;
}
.info {
	color: $color-info-text;
	background-color: $color-info-background;
	border-color: $color-info-border;
}

.info code {
	color: $color-info-code;
	background-color: $color-info-code-background;
}

.warning > .box-header {
	background-color: $color-warning-header;
}

.warning {
	color: $color-warning-text;
	background-color: $color-warning-background;
	border-color: $color-warning-border;
}

.warning code {
	color: $color-warning-code;
	background-color: $color-warning-code-background;
}

.note > .box-header {
	background-color: $color-note-header;
}

.note {
	color: $color-note-text;
	background-color: $color-note-background;
	border-color: $color-note-border;
}

.note code {
	color: $color-note-code;
	background-color: $color-note-code-background;
}

.success > .box-header {
	background-color: $color-success-header;
}

.success {
	color: $color-success-text;
	background-color: $color-success-background;
	border-color: $color-success-border;
}

.success code {
	color: $color-success-code;
	background-color: $color-success-code-background;
}

.trailer {
	border-color: $color-info-border;
}

.trailer > .box-header {
	background-color: $color-info-header;
}