---
layout: post
---

<div class="trailer">
	<div class="box-header">
		<h2>{{ page.trailer.title }}</h2>
	</div>
	<div class="trailer-content">
	{% if page.trailer.subtitle %}
	<h4>{{ page.trailer.subtitle }}</h4>
	{% endif %}
	{% if page.trailer.release_date %}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	<p><strong>Released: </strong>{{ page.trailer.release_date | date: date_format }}</p>
	{% endif %}
	{% include you_tube_embed.html embed_id=page.trailer.embed_id %}
	</div>
</div>

{{ content }}